* {
    font-family:'Courier New', Courier, monospace;
}

html {
    background-color: rgba(197, 197, 197, 0.25);
}
h1 {
    font-weight: bold;
    text-align: center;
}

h2 {
    font-weight: bold;
    color: purple;
    text-align: center;
}

table {
    background-color: lightgrey;
    text-align: center;
    margin: auto;
    width: 80%;
}

thead {
    font-weight: bold;
    background-color: rgba(255, 0, 255, 0.398);
    padding: 10px;
    border: 5px solid black;
}

td {
    padding: 10px;
    border: 1px solid black;
}

td.code {
    font-family: monospace;
    background-color: lightgoldenrodyellow;
}
