* {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.top-logo {
  width: 50px;
  margin: 10px;
}

li {
  display: inline;
  margin: 20px;
  text-decoration: underline;
}

header {
  position: sticky;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: 36px;
  margin: 20px;
  text-align: center;
  justify-content: center;
}

h4 {
  font-size: 24px;
  margin: 20px;
}

div.mission {
  height: 700px;
  text-align: center;
  justify-content: center;
  background-color: black;
  display: block;
}



