* {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    margin: 0 auto;
    text-align: center;
    background-image: url(./images/pattern.webp);
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

h2.Frames {
    background-color: lightcoral;
}

h2.Paint {
    background-color: skyblue;
}

span {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}